---
import Layout from "~/layouts/Layout.astro"
import { supabase } from "~/lib/supabase"
import type { MetaData } from "~/types"
const accessToken = Astro.cookies.get('sb-access-token')
const refreshToken = Astro.cookies.get('sb-refresh-token')

if (!accessToken || !refreshToken) {
  return Astro.redirect('/signin')
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
})

if (error) {
  Astro.cookies.delete("sb-access-token", {
    path: '/'
  })
  Astro.cookies.delete('sb-refresh-token', {
    path: '/'
  })

  Astro.redirect('/signin')
}

const email = data?.user?.email

const metadata: MetaData = {
  title: 'Dashboard'
}
---

<Layout metadata={metadata}>
  <h1>Welcome {email}</h1>
  <p>We are happy to see you here</p>
  <form action="/api/auth/signout">
    <button type="submit">Sign out</button>
  </form>
</Layout>