---
import CustomStyles from "~/components/CustomStyles.astro"

import type { MetaData as MetaDataType } from '~/types';

interface Props {
	metadata?: MetaDataType
}

const { metadata = {} } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<CustomStyles />
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Jawara</title>
	</head>
	<body>
		<slot />

		<style is:global>
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>

